<div style="float: right; width: 500px;"
<marquee>
<% scores = user.scores.find :all, :conditions => ["created_at > ?", user.scores_seen_until] %>

<% unless scores.empty? %>

  <% for score in scores %>
    <span><%= score.points %>: <%= score.description %></span>
  <% end %>
  
  <%= link_to "x", :controller => :score, :action => :dismiss %>
<% end %>

</marquee>
</div>