<div id="new-scores-flash">
<% scores = user.scores.find :all, :conditions => ["created_at > ?", user.scores_seen_until] %>
<% unless scores.empty? %>

  <marquee style="width: 450px;">
    +
    <% for score in scores %>
      <span><%= format_score score %> +</span>
    <% end %>
  </marquee>

  <%= link_to_remote "ok!", :url => {:controller => :score, :action => :dismiss}, :loading => "$('new-scores-flash').update('')" %>

<% end %>
</div>