<h2>Teams</h2>
<ol>
<% for team in @teams %>
  <li>
    <%= format_team team %>: <%= team.score %> points
  </li>
<% end %>
</ol>

<h2>Users</h2>

<ol>
<% for user in @users %>
  <li>
  <%= format_user user %>: <%= user.total_score %> points
  </li>
<% end %>
</ol>