<div class="span-24 lrborder">
  <div class="span-23 push-1">
  <h2>So you want to pay?</h2>

  <p>You can take them <strong>for free</strong> or leave a tip (4,- € for 50 stickers suggested).</p>
  <div class="span-22 push-1">
    <h3>How can you pay us?</h3>
    <div class="span-10">
    <h4>Money via snailmail (aka "Post")</h4>
    <p><pre>
    Metalab
    c/o urbantakeover
    Rathausstraße 6
    1010 Wien
    <em>Austria</em></pre>
    </p>
    </div>

    <div class="span-10">
    <h4>TipJoy</h4>
    <script language="javascript" src="http://tipjoy.com/buttonGen?targetUser=oneup&targetUrl=http://urbantakeover.at/stickers" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" hspace="0" vspace="0" allowtransparency="true" ></script>
   
    <h4>Bank Transfer</h4> <%= todo "as soon as we have a bank account."%>
    <h4>Paypal</h4> <%= todo "as soon as we have a bank account."%>
    </div>
  </div>
  </div>
</div>
