<div class="span-24 lrborder">
  <div class="span-23 push-1 last">
  <h1>Statistics for last 8 weeks</h1>

  <% @sparklines.each do |name, values| %>
    <h2><%= name %></h2>
  <%= sparkline values %>
  <% end %>
  </div>
</div>
