<h1>Huh? Haz found moar than one!</h1>

<ul>
  <% for object in @objects %>
  <li><h2><%= object.class.name %> <%= self.send "format_#{object.class.name.downcase}", object %></h2></li>
  <% end %>
</ul>


