<h2>Howto</h2>

<div style="float: left; width: 450px;">
  <h3>claim via Web</h3>
  <ol>
    <li>stick sticker - <strong>get your name up on a spot!</strong></li>
    <li>go to <%= link_to "claim spot", claim_path %></li>
    <li>send command <code>claim spot @ address</code></li>
    <li><em>points get!</em></li>
  </ol>
</div>

<div style="float: left; width: 450px;">
  <h3>claim via SMS</a></h3>
  <ol>
    <li>stick sticker - <strong>get your name up on a spot!</strong></li>
    <li>send sms <code>f cpu</code> to +44 7624801423 (<a href="http://twitter.com">twitter</a>)</li>
    <li>send sms <code>username</code> to twitter (use your desired username) </li>
    <li><em>... wait for the urban takeover welcome sms</em></li>
    <li>send sms <code>d cpu claim spot</code> to twitter.</li>
    <li><em>points get!</em></li>
  </ol>
</div>

<p style="clear: both;">
Now tag your city! Put stickers up in the city and mark them with eg: <code>claim metalab @ rathausstraße 6</code>.
</p>