
<% for spot in user.owned_spots %>
<p><%= format_spot spot %></p>

<p>
    <% crossed_claim = spot.current_claim.crossed_claim
      if crossed_claim %>
        crossed <%= crossed_claim.user.login %>
    <% else %>
      since
    <% end %>
    
    <%= interval_to_now spot.current_claim.created_at %>
</p> 

<% end %>

