
<ul>
<% for spot in user.owned_spots %>
<li><%= format_spot spot %>

    <% crossed_claim = spot.current_claim.crossed_claim
      if crossed_claim %>
        crossed <%= crossed_claim.user.login %>
    <% else %>
      since
    <% end %>
    
    <%= interval_to_now spot.current_claim.created_at %>
</li> 
<% end %>
</ul>

