<em>This section is under construction, it's getting better, we promise. In the meanwhile if anything is unclear, you can <a href="mailto://team@urbantakeover.at">contact us</a>.</em>

<h2>What is this?</h2>
An alternate reality game in your city.

<h3>stick stickers in the city</h3>
<h3>mark your territory on a map</h3>
<h3>be notified, when someone crosses you</h3>

<h2>How do i play?</h2>
See <%= link_to "how to play", howto_path %>.