
<h2>What is this?</h2>
<p>UrbanTakeover is an alternate reality game in your city.</p>
<p>You claim spots/territory by putting up stickers (in real life) and sending us a text message or entering the address on the website.</p>

<ol>
  <li>stick stickers in the city</li>
  <li>mark your territory on a map</li>
  <li>be notified, when someone crosses you</li>
</ol>

<h2>How do I play?</h2>
<%= todo "add a foto guide how to play" %>

See <%= link_to "how to play", howto_path %>.

<h2>How do I get stickers?</h2>
You can either <%= link_to "print your own sticker sheet", "http://urbantakeover.at/files/urbantakeover_a4_ohai.pdf" %> or get some stickers from us. Just <a href="mailto://team@urbantakeover.at">mail us</a> and/or meet us at the <%= link_to "metalab", "http://metalab.at" %>.

<h2>More?</h2>
<ul>
  <li><a href="http://blog.urbantakeover.at">development blog</a></li>
  <li><a href="http://flickr.com/groups/urbantakeover/pool/">urbantakeover flickr pool</a></li>
</ul>