<h2>How to play urban takeover</h2>

<div style="float: left; width: 450px;">
  <h3>Claim via Web</h3>
  <ol>
    <li>stick sticker - <strong>get your name up on a spot!</strong></li>
    <li>go to <%= link_to "claim spot", claim_path %></li>
    <li>send command <code>claim spot @ address</code></li>
    <li><em>points get!</em></li>
  </ol>
</div>

<div style="float: left; width: 450px;">
  <h3>Claim via SMS</a></h3>
  <ol>
    <li>stick sticker - <strong>get your name up on a spot!</strong></li>
    <li>send sms <code>f cpu</code> to +44 7624801423 (<a href="http://twitter.com">twitter</a>)</li>
    <li>send sms <code>username</code> to twitter (use your desired username) </li>
    <li><em>... wait for the urban takeover welcome sms</em></li>
    <li>send sms <code>d cpu claim spot</code> to twitter.</li>
    <li><em>points get!</em></li>
  </ol>
  
  <p>Commands:</p>
  <ul>
    <li><code>claim spot</code></li>
    <li><code>claim spot @ street 123</code></li>
    <li><code>team teamname</code></li>
  </ul>
</div>


<p style="clear: both;">
Now tag your city! Put stickers up in the city and mark them with eg: <code>claim metalab @ rathausstraße 6</code>.
</p>

<h3>Get stickers!</h3>
<p style="float: left; width: 450px;"><a href="files/urbantakeover_a4_ohai.pdf"><img alt="urbantakeover stickers" src="images/stickers.png"/></a></p>

<div style="float: left;">
  <p>You can either order stickers from us (coming soon), or print your own:</p>
  
  <p><strong><a href="files/urbantakeover_a4_ohai.pdf">download A4 pdf sheet!</a></strong></p>
  
  <p>You can also just contact us as at <a href="mailto://team@72dpiarmy.com">team@72dpiarmy.com</a>.</p>
</div>

