  <div class="span-24 lrborder">
    <div class="span-23 push-1">
      <h2>What's been going on?</h2>
      <div class="span-22 push-1">
      <%= render :partial => 'log', :locals => {:claims => @claims} %>
      </div>
    </div>
  </div>
