<h1>My claims</h1>

<%= render(:partial => 'my_spots', :locals => {:user => current_user}) %>

<h2>claim log</h2>

#TODO: add when someone else reclaimed my spot
  
<ul>
<% for claim in @claims %>
  <li>
    <%=h claim.spot.name  %> @ <%= claim.created_at %>
  </li>
<% end %>
</ul>