<h1>My claims</h1>

<h2>my currently owned spots</h2>
<ul>
<% for spot in @owned_spots %>
  <li>
    <%=h spot.name  %> @ <%= spot.current_claim.created_at %>
  </li>
<% end %>
</ul>

<h2>claim log</h2>
<ul>
<% for claim in @claims %>
  #TODO: add when someone else reclaimed my spot
  <li>
    <%=h claim.spot.name  %> @ <%= claim.created_at %>
  </li>
<% end %>
</ul>