
<h2>Did what?</h2>

<% form_for(:command) do |f| %>
  do it: <%= f.text_field 'text' %>
  <%= submit_tag 'go!' %>
<% end %>

<p>Commands:</p>
<ul>
  <li><code>claim spot</code></li>
  <li><code>claim spot @ street 123</code></li>
  <li><code>team teamname</code></li>
</ul>

<%= render :partial => 'howto' %>