body { background-color: #fff; color: #333; padding: 3px;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; background-color: transparent;}
a:hover { color: #fff; background-color:#000; }

a img { border: none; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* user names */
a.user-name:link, a.user-name:visited {
  color: #000;
  border-right: 3px solid #999;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

a.user-name:hover, a.user-name:active {
  text-decoration: none;
  background-color: #959595 !important;
}

/* team name */
a.team-name:link, a.team-name:visited {
  color: #000;
  border-left: 3px solid #000;
  background-color: #eee;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

a.team-name:hover, a.team-name:active {
  text-decoration: none;
  background-color: #999 !important;
}

/* spot name */
a.spot-name:link, a.spot-name:visited {
  color: #000;
  background-color: #ccc;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

a.spot-name:hover, a.spot-name:active {
  text-decoration: none;
  background-color: #959595 !important;
}

/* stuff */
.small {
  font-size: 80%;
}

code {
  background-color: #eee;
  padding-left: 2px;
  padding-right: 2px;
}

marquee {
  marquee-style: alternate; /* 404 -_-' */
}

/* areas */
#footer p{
  margin-top: 20px;
  padding-top: 3px;
  border-top: 1px solid #959595;
  font-size: 80%;
  font-family: "Georgia", serif;
  text-align: right;
}

#footer p, #footer p {
  color: #959595;
}

/* 72dpi logo link */
#footer p a:link, #footer p a:visited {
  color: #959595;
  text-decoration: none;
}
#footer p a:link span, #footer p a:visited span { color: #99cc00; }

#footer p a:hover, #footer p a:active{
  background-color: #99cc00;
  color: white;
  text-decoration: none;
}
#footer p a:hover span, #footer p a:active span { color: white; }

/* color shorthands */
.green {
  color: #99cc00 !important;
}

.lime {
    color: #99cc00 !important;
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}

.grey {
    color: #555555 !important;
}


h1 {
  margin: 0;
  padding: 0;
}

/* headlines */
a.title {
  display: block;
  margin-top: 0;
  padding-top: 0;
  padding-left: 54px; /* 48 + 6 */
  height: 40px; /* 48 - 8 */
  padding-top: 8px;
  font-size: 26px;
  background: url('/images/logo.png') no-repeat top left;
  
  text-decoration: none;
  color: #959595;
}

.menu {
  margin-top: 3px;
  font-weight: bold;
  color: #666;
}

.menu a:link, .menu a:visited {
  color: #666;
  text-decoration:none;
}

.menu a:hover, .menu a:active {
  color: white;
  background-color: #666;
}

#user-nav {
  float:right;
  text-align: right;
}

#user-nav p {
    font-size: 80%;
}