<div id="flickr_badge">
<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?source=all_tag&tag=<%= spot %>&show_name=1&count=10&display=latest&size=s&layout=x"></script>
</div>