<p>
  Ohai <%= @user.name %>!
</p>

<p>
  <%= @message %>
</p>

<p>
  kbai,<br/>
  CPU
</p>

<hr/>
<p style="font-size: 80%;">
  You get this mail, because you're playing <%= link_to "UrbanTakeover", root_url(:host => "urbantakeover.at") %>.<br/>
  You can change your mail settings at <%= link_to "Your Settings", :host => "urbantakeover.at", :controller => 'user', :action => 'profile' %>
</p>