<h2>Chat</h2> 

<div id="left" style="width:600px;">
  <iframe class="widget-loading" width="100%" height="400px" scrolling="no" frameborder="0"
    src="http://embed.mibbit.com/?channel=%23urbantakeover&amp;nick=<%= logged_in? ? h(current_user.name) : "anonymous" %>">
  </iframe>
</div>

<div id="right" style="width:300px">
<p style="margin-top: 0" class="small">
type /nick to change your Nick name<br/>
type /help for available commands
</p>
</div>