<div class="span-24 lrborder">
  <div class="span-23 push-1">
    <h2>Chat</h2> 
      <p>The chat is gone, but we think of something else to enable community features here.</p>
      <p>Or maybe <a href="http://lolcathost3000.lighthouseapp.com/projects/11512-urbantakeover/home">you have an idea</a>?</p>
    </div>
  </div>
</div>
