<div class="span-24 lrborder">
  <div class="span-22 push-1">
    <h2>Teams</h2>
    <% if logged_in? %>
      <% if current_user.team %>
        <p>Your Team: <%= format_team current_user.team%></p>
      <% else %>
        <p>You can join a team by sending a "team teamname" command at the  <%= link_to "claim spot", claim_path %> page.</p>
      <% end %>
    <% end %>


      <% Team.find(:all).each do |team| %>
          <h3><%= format_team team %></h3>
          <p><%= format_list team.users, :flat %></p>
      <% end %>
    </ul>
  </div>
  
  <div class="span-1">
    <br/>
  </div>

</div>