
<% if request.post? %>
  <h2>Yay :)</h2>
  <p>New password has been sent to you</p>
  <p><%= link_to "Back", root_url %> or <%= link_to "Login", login_url %></p>
<% else %>
  <h2>Tell us your name &amp; get a new password</h2>

  <% form_tag do %>
    Name or E-Mail: <%= text_field_tag 'name' %>
    <%= submit_tag 'go!' %>
  <% end %>
<% end %>