<div class="span-24 lrborder">
  <div class="span-23 push-1 last">
  <% if @user %>
  <h2>Yay :)</h2>
  <p>New password has been sent to you</p>
  <p><%= link_to "Back", root_url %> or <%= link_to "Login", login_url %></p>
  <% else %>
  <h2>Tell us your name &amp; get a new password</h2>

  <div class="span-22 push-1 last">
  <% form_tag do %>
    <p>
    <label for="name">Name or E-Mail:</label>
    <br/><%= text_field_tag 'name', '', "class"=>'textfield must' %>
    </p>
    <p>
        <%= submit_tag 'Submit', "class"=>'submit' %>
    </p>
  <% end %>
  </div>
  <% end %>
  </div>
</div>
