<div class="span-24 lrborder">
  <div class="span-23 push-1">

    <h2>Users</h2>
    <ul>
      <% for user in @users%>
        <li><%= format_user user %></li>
      <% end %>
    </ul>
    
  </div>
</div>