<%= GMap.header %>

<div id="map" class="widget-loading" style="width:550px; height:400px;"></div>

<script type="text/javascript">

  <% spots, map = get_map_data(@spots)
    spots ||= []
    spot_json = spots.collect do |spot|
      [spot.name,
      spot.address,
      spot.claims.collect { |claim| [claim.user.name, claim.user.colour_1, claim.user.colour_1] },
      "green", # spot.current_owner.colour_1,
      spot.geolocation_x,
      spot.geolocation_y]
    end
  %>
  
  var json = <%= spot_json.to_json %>;
  var focus_spot = "<%=h params[:focus] %>";

</script>
