<%= GMap.header %>

<div id="map" class="widget-loading <%= css_class.to_s %>"></div>

<script type="text/javascript">

  <% spots, map = get_map_data(spots)
    spots ||= []
    spot_json = spots.collect do |spot|
      [spot.name,
      spot.address,
      spot.claims.collect { |claim| [claim.user.name, claim.user.colour_1, claim.user.colour_1] },
      "green", # spot.current_owner.colour_1,
      spot.geolocation_x,
      spot.geolocation_y]
    end
  %>
  
  var json = <%= spot_json.to_json %>;
  var focus_spot = "<%=h params[:focus] %>";

  mapini(); // I am here now - lets see if its better :)

  // todo: the spot data is super cacheable!!! so cache it!
  // todo: refactor code for gods sake
</script>
