<%= GMap.header %>  

<% spots, map = get_map_data(@spots) %>
<%
# zoom to parliament vienna 
# http://maps.google.com/maps?f=q&hl=en&geocode=&q=Parliament,+Doktor-Karl-Renner-Ring+3,+1010+Wien,+Wien,+Austria&ie=UTF8&cd=1&z=13

unless spots.empty?
  map.center_zoom_init(spots[-1].geolocation, 14)  # zoom to last spot
  spots.each do |spot|
    marker = GMarker.new(spot.geolocation,
      :title => spot.name, :info_window =>
      
      "<strong>%s</strong><br/><span class=\"small\">%s</span><br/>current: %s<br/>here: %s<br/>%s" %
       [format_spot(spot),
        spot.address,
        spot.current_owner ? format_user(spot.current_owner) : "no one",
        spot.claims.collect{|c| c.user.name }.uniq.join(", "),
        link_to("#{spot.name} on flickr", "http://flickr.com/photos/tags/#{spot.name}")
      ])  
      map.overlay_init(marker)
    
    if spot.current_owner
      #radius around spots
      #map.overlay_init(GPolygon.new(circle_points(spot.geolocation_x, spot.geolocation_y, 0.002), spot.current_owner.colour_1, 0, 0.5, spot.current_owner.colour_1, 0.5))
    end
    
    if params[:focus] and params[:focus] == spot.name
      map.center_zoom_init(spot.geolocation, 15)
    end
  end
end
%>
<%= map.div(:width => 550, :height => 400) %>
<%= map.to_html %>