<%= GMap.header %>

<div id="map" style="width:550px; height:400px; background: #eee url('images/throbber.gif') no-repeat center center" ></div>

<script type="text/javascript">

  <% spots, map = get_map_data(@spots)
    spots ||= []
    spot_json = spots.collect do |spot|
      [spot.name,
      spot.address,
      spot.claims.collect { |claim| [claim.user.name, claim.user.colour_1, claim.user.colour_2] },
      spot.current_owner.colour_1,
      spot.geolocation_x,
      spot.geolocation_y]
    end
  %>
  
  var json = <%= spot_json.to_json %>;

  mapini();
  
  // todo: the spot data is super cacheable!!! w0000t!

  // todo: onunload call GUnload()

  // todo: zoom

  // todo: refactor code for gods sake

  // todo zoom to spot => name in if params[:focus]

</script>