<%= GMap.header %>

<div id="map" style="width:550px; height:400px; background: #eee url('images/throbber.gif') no-repeat center center" ></div>

<script type="text/javascript">

  <% spots, map = get_map_data(@spots)
    spots ||= []
    json = spots.collect do |spot|
      user_infos = spot.claims.collect { |claim| '["%s", "%s", "%s"]' % [claim.user.name, claim.user.colour_1, claim.user.colour_2] }
      
      '["%s", "%s", [%s], "%s", %f, %f]' % [spot.name, spot.address, user_infos.join(", "), spot.current_owner.colour_1, spot.geolocation_x, spot.geolocation_y]
    end
  %>
  
  var json = [<%=json.join(", ")%>];

  mapini();
  
  // todo: the spot data is super cacheable!!! w0000t!

  // todo: onunload call GUnload()

  // todo: zoom

  // todo: refactor code for gods sake

  // todo zoom to spot => name in if params[:focus]

</script>