<div class="span-24">
  <%= show_map @spots, :wide %>
</div>

<div class="span-24 lrborder">
<br/>
</div>


<div class="span-24 lrborder">
  <div class="span-22 push-1 last">
  <%= format_navigation [] %>

  <h2>Spots</h2>

  <%= format_list @spots %>

  </div>
</div>