<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>urban takeover - claim the city!</title>
	
	<style type="text/css" media="screen, projection">
		@import url('../assets/css/master.css');
		@import url('../assets/css/start_page.css');
	</style>

</head>

<body>
	
	<div id="page">
		<div id="header">
			<div id="logo">
				<img src="../assets/img/logo.png" width="100" height="99" alt="Logo" />	
			</div>
			<div id="slogan">
				<img src="../assets/img/slogan.png" width="299" height="87" alt="Claim the city!" />
			</div>
			<ul id="user_nav" class="nav">
				 <li><a href="#">Log in</a></li>
				<li><a href="#">Sign up</a></li>
			</ul>
			<ul id="main_nav" class="nav">
				 <li><a href="#">claim spot</a></li>
				 <li><a href="#">highscore</a></li>
				 <li><a href="#">how to play</a></li>
			</ul>
		</div>
		<div id="main">
			<div id="about">
				<p>Join us in this real life online game. Put our <a href="#">sticker</a> on a place you like in Vienna. Claim the place with a sms or <a href="#">here</a> on this website. Get massive <a href="#">points</a>! <a href="#">Do you need more help?</a></p> 
			</div>
			<div id="game_activity">
				<h2>Whats going on?</h2>
				<div class="day_activity">
					<div class="date">
						<span class="month">März</span>
						<span class="day">15</span>
					</div>
					<div class="activity_list">
						<div class="claim">
							<div class="avatar">
								<img src="../assets/img/user/stereotype_thumb.jpg" width="40" height="40" alt="Stereotype Thumb" />
							</div>
							<ul class="activity_info">
								<li><a class="user_link" href="#">stereotype</a> took <a class="spot_link" href="#">metalab</a> at <span class="time">09:27</span></li>
								<li class="message">The metalab is mine. Hehe! You can't mess with...<a href="#">more</a></li>
							</ul>		
						</div>
						<div class="claim">
							<div class="avatar">
								<img src="../assets/img/user/stereotype_thumb.jpg" width="40" height="40" alt="Stereotype Thumb" />
							</div>
							<ul class="activity_info">
								<li><a class="user_link" href="#">stereotype</a> took <a class="spot_link" href="#">metalab</a> at <span class="time">09:27</span></li>
								<li class="message">The metalab is mine. Hehe! You can't mess with...<a href="#">more</a></li>
							</ul>		
						</div>
						<div class="claim">
							<div class="avatar">
								<img src="../assets/img/user/stereotype_thumb.jpg" width="40" height="40" alt="Stereotype Thumb" />
							</div>
							<ul class="activity_info">
								<li><a class="user_link" href="#">stereotype</a> took <a class="spot_link" href="#">metalab</a> at <span class="time">09:27</span></li>
								<li class="message">The metalab is mine. Hehe! You can't mess with...<a href="#">more</a></li>
							</ul>		
						</div>
					</div>	
				</div>
				<div class="day_activity">
					<div class="date">
						<span class="month">März</span>
						<span class="day">14</span>
					</div>
					<div class="activity_list">
						<div class="claim">
							<div class="avatar">
								<img src="../assets/img/user/stereotype_thumb.jpg" width="40" height="40" alt="Stereotype Thumb" />
							</div>
							<ul class="activity_info">
								<li><a class="user_link" href="#">stereotype</a> took <a class="spot_link" href="#">metalab</a> at <span class="time">09:27</span></li>
								<li class="message">The metalab is mine. Hehe! You can't mess with...<a href="#">more</a></li>
							</ul>		
						</div>
						<div class="claim">
							<div class="avatar">
								<img src="../assets/img/user/stereotype_thumb.jpg" width="40" height="40" alt="Stereotype Thumb" />
							</div>
							<ul class="activity_info">
								<li><a class="user_link" href="#">stereotype</a> took <a class="spot_link" href="#">metalab</a> at <span class="time">09:27</span></li>
								<li class="message">The metalab is mine. Hehe! You can't mess with...<a href="#">more</a></li>
							</ul>		
						</div>
						<div class="claim">
							<div class="avatar">
								<img src="../assets/img/user/stereotype_thumb.jpg" width="40" height="40" alt="Stereotype Thumb" />
							</div>
							<ul class="activity_info">
								<li><a class="user_link" href="#">stereotype</a> took <a class="spot_link" href="#">metalab</a> at <span class="time">09:27</span></li>
								<li class="message">The metalab is mine. Hehe! You can't mess with...<a href="#">more</a></li>
							</ul>		
						</div>
					</div>	
				</div>
				<p><a id="activity_list_link" class="button" href="#">Full activity list</a></p>
			</div>
			<div id="recent_spots">
				<h2>Recent claimed spots</h2>
				<div id="map">
					<img src="../assets/img/google_map_dummy.png" width="551" height="400" alt="Google Map Dummy" />
				</div>
			</div>
		</div>
		<div id="footer">
			2008 (cc-tba) <a href="#">72dpiarmy</a>
		</div>
	</div>

</body>
</html>
